#gh a {background:#044;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:0px 30px;font-size:1rem;line-height:2rem;position:absolute;transition:0.25s;left:0;right:0}
#gh a:hover {background:#060;}
#gh a::before,#gh a::after {content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}
#gh a::after {bottom:1px;top:auto;}
@media screen and (min-width:860px){
    #gh {position:absolute;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;}
    #gh a {width:200px;position:absolute;top:60px;right:-70px;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
}
#fo {position:absolute;left:0;right:0;border-width:0;}
#it {font-style:italic;}
